@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #171A1B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
small {
    font-weight: 500;
    font-size: .875rem;
}

.btn-gold {
    background-color: #A47E1B;
    color: #F2EDE3;
    font-weight: 400;
}
.btn-gold:hover {
    background-color: #a47d1bd3;
    color: #F2EDE3;
}

/* MODAL BODY */
.modal-body-content {
    margin: 1rem;
}

.modal-body-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 500;
}
.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
}

.btn-rooms {
    border: 1px solid #dee2e6;
}
.btn-rooms:hover {
    border: 1px solid #dee2e6;
}

.modal-body-content {
    margin: 2.9375rem 0;
    row-gap: 2.5rem;
}

.modal-body-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 600;
}

/* MODAL Cotizacion */

.modal-body-total {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: end;
}

.label-cotizacion {
    font-weight: 500;
}

/* 'Extras a añadir' */

.form-check {
    border: 1px solid #dee2e6;
    padding: .375rem .75rem;
    border-radius: .375rem;
    margin: 0;
    display: inline;
}

/* 'Personas y Habitaciones' */

.accordion-button {
    padding: .5625rem .75rem;
}

.label-pple-room {
    font-weight: 500;
}

.room-width-input {
    width: 7.5rem;
}

/* MODAL Datos personales */
.icon-datos-pers {
    font-size: 1rem;
    color: #1e2324d2;
}

/* MODAL Resumen */

.total-class-resume {
    font-size: 1.25rem;
    font-weight: 500;
}
.vr-style {
    height: 100%;
}

.fs-18 {
    font-size: 1.125rem;
}

.class-day-resume {
    font-size: 1.25rem;
    font-weight: 600;
}